.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 32px 106px 60px;

    color: var(--white);
    background-color: var(--primary-color);
}

.breadcrumb {
    display: flex;
}

.breadcrumb span {
    margin-right: 4px;

    font-size: .785rem;
    text-transform: capitalize;
}

.container h1 {
    margin: 12px 0;
    
    font-size: 2rem;
    text-transform: capitalize;
}

.container p {
    font-weight: 400;
    font-size: .875rem;
}