.main {
    --input-width: 265px;
    --input-width-large: 438px;

    --gap-size: 32px;

    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.warningContainer {
    position: relative;
}